<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # NEXUS: Add www on main domain
    # RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
    # RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

	# NEXUS: Redirect asset.{main-domain}/endpoint Requests
	RewriteCond %{HTTP_HOST} ^asset\.(.+)$ [NC]
	RewriteCond %{REQUEST_URI} ^/endpoint?$
	RewriteRule ^ endpoint.php [L]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
